body {
    background: center;
    width:1000px;
    margin: auto;
	text-align: center;
	background-image:url("../images/background.jpg");
	background-attachment:fixed;
	background-size:cover;
}

html {
	height: 100%;
}

a {
	text-decoration:none;
}

a:hover {
	opacity:80%;
}

.main {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


.main #logo {
    height:133.4px;
	width:360px;
	padding-top:10px;
}

.main #sean {
	height:25px;
	width:auto;
	padding-top:20px;
}

.footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.footer #join {
	height:30.6px;
	width:94.2px;
	padding-bottom:25px;
}